<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div th:fragment="navbar(role)">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="${role == 'ADMIN'} ? '/admin/tickets' : '/operator/tickets'">
                    Ticket Platform
                </a>

                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav me-3">
                        <li class="nav-item" th:if="${role == 'ADMIN'}">
                            <a class="nav-link" href="/admin/tickets">Gestione Ticket</a>
                        </li>
                        <li class="nav-item" th:if="${role == 'OPERATOR'}">
                            <a class="nav-link" href="/operator/tickets">I miei Ticket</a>
                        </li>
                        <li class="nav-item" th:if="${role == 'OPERATOR'}">
                            <a class="nav-link" th:href="@{/operator/profile}">Profilo</a>
                        </li>
                    </ul>

                    <form th:action="@{/logout}" method="post" class="d-inline">
                        <button type="submit" class="btn btn-outline-light">Logout</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</body>

</html>